* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    background-color: blanchedalmond;
    font-family: vazir;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

/* section-card */
.section-card {

    width: 300px;
    background-color: white;
    border-radius: 28px;
    border: 3px solid rgb(21, 112, 122);
    transition: all 0.7s;
    overflow: hidden;

}

.section-card:hover {

    box-shadow: rgb(6, 208, 218) 0px 1px 2px 0px, rgba(6, 226, 255, 0.889) 0px 2px 6px 2px;
    transform: translateY(-30px);
}

/* img-div */

img {

    margin-left: 20px;
    width: 250px;
}

/* div-im */

.div-im {

    overflow: hidden;
    position: relative;
}

.div-im img {

  
    transition: 0.4s;
}

/* span-t */

.span-t {

    position: absolute;
    top: 18px;
    left: 8px;
    background-color: rgb(181, 8, 8);
    width: 40px;
    height: 40px;
    color: white;
    font-weight: bold;
    border-radius: 50%;
    padding-top: 8px;
    padding-left: 5px;
    font-size: 17px;

}

/* icon-span */

.icon-span {

    position: absolute;
    top: 80px;
    left: 15px;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    color: rgb(21, 112, 122);
    transition: all 0.3s;
}

.icon-span:hover {

    scale: 1.5;
}

/* h3 */

h3 {

    text-align: center;
    transform: translateY(-25px);
    color: rgb(14, 106, 119);
    margin: 20px;
}

/* div-para */

.div-para {

    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-32px);
}

/* new */

.new {

    font-weight: bold;
    font-size: 1.3rem;
    margin-right: 5px;
    color: rgb(180, 2, 2);
}

.old {

    font-weight: bold;
    text-decoration: line-through;
}

/* span-i */
.span-i {

    color: rgb(207, 207, 54);
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-25px);
}

/* btn-card */
.btn-card {

    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

button {

    border: none;
    outline: none;
    padding: 12px 25px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    background-color: rgb(11, 148, 150);
    transition: all 0.3s;
}

button:hover {

    color: white;
    scale: 1.1;


}